.advtv {
    display: flex;
}

.actiontv {
    display: flex;
}

.comedytv {
    display: flex;
}

.crimetv {
    display: flex;
}

.mysterytv {
    display: flex;
}

.horrortv {
    display: flex;
}

.Dramatv {
    display: flex;
}