.advtv {
    display: flex;
}

.actiontv {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.comedytv {
    display: flex;
}

.crimetv {
    display: flex;
}

.mysterytv {
    display: flex;
}

.horrortv {
    display: flex;
}

.Dramatv {
    display: flex;
}

/* .tvshowtitles {
    color: #e5e5e5;
    display: inline-block;
    margin: 0 4% 0.5em;
    min-width: 6em;
    text-decoration: none;
} */