/* .manageuserfilm > h1 {
    font-size: 40px;
        font-weight: normal;
        margin-left: 160px;
} */


/* .alluserfilms { */
    /* display: flex; */
    /* grid-gap: 1em;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(22.3em, 21em)); */
/* } */

.userVideoCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.create-a-new-film-button {
    color: white;
    text-decoration: none;
    margin-left: 80px;
    margin-top: 60px;
}