.Allposter {
    object-fit: contain;
    /* width: 100%; */
    /* max-height: 100px; */
    display: flex;
    min-height: 200px;
    min-width: 200px;
}

a.all {
    width: 200px;
    height: 300px;
}