.Alladvboxes {
    display: flex;
}

.Allactionbox {
    display: flex;
}

.Allcomedyboxes {
    display: flex;
}

.Allcrimeboxes {
    display: flex;
}

.Allmysteryboxes {
    display: flex;
}

.Allhorrorboxes {
    display: flex;
}

.AllDramaboxes {
    display: flex;
}