.userButton>button {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #ddd;
    height: 35px;
    width: 50px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 40px;
}

.userButton {
    position: relative;
    display: inline-block;
}

.userButton>button:hover {
    box-shadow: 2px 4px 6px #c7c6c6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -120px;
    margin-right: 500px;
    color:  white;
    font-weight: normal;
}

.dropdown-content>.userInfo {
    margin-top: 5px;
    list-style: none;
    /* color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; */
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.dropdown-content>.userInfo {
    /* margin-top: 5px; */
    /* margin-right: 100px; */
    left: -130px;
}

.dropdown-content>.userInfo:hover {
    /* margin-top: 5px; */
    list-style: none;
    text-decoration: none;
    background-color: black;
}

.userButton:hover .dropdown-content {
    /* margin-top: 5px; */
    list-style: none;
    display: block;
}

.userButton:hover .dropbtn {
    background-color: white;
}

.profile-dropdown > a {
    font-size: larger;
    display: flex;
    margin-top: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
}

.profile-dropdown > li {
    font-size: larger;
    margin-top: 10px;
    list-style: none;
}

/* .profile-dropdown {
    margin-top: 10px;
} */