.advboxes {
    display: flex;
}

.actionbox {
    display: flex;
}

.comedyboxes {
    display: flex;
}

.crimeboxes {
    display: flex;
}

.mysteryboxes {
    display: flex;
}

.horrorboxes {
    display: flex;
}