.advboxes {
    display: flex;
}

.actionbox {
    display: flex;
}

.comedyboxes {
    display: flex;
}

.crimeboxes {
    display: flex;
}

.mysteryboxes {
    display: flex;
}

.horrorboxes {
    display: flex;
}

.dramaboxes {
    display: flex;
}

.Movie_Posters {
        color: #e5e5e5;
        display: inline-block;
        margin: 0 4% 0.5em;
        min-width: 6em;
        text-decoration: none;
}